<!DOCTYPE html>
<html>

<head>
    <script src="../js/jquery-2.0.0.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/vue.js"></script>
    <script src="popup.js"></script>
    <title>
        高高兴兴上班
    </title>
    <link rel="stylesheet" type="text/css" href="popup.css" />
</head>

<body>
    <div>
        <div id="user_free_edit">
            <div>
                <div class = "input-item">
                        <label>微信ID</label><input type="text" v-model="newPerson.id" placeholder="注册微信的唯一ID"/>
                </div>
                <div class = "input-item">
                        <label>登录名</label><input type="text" v-model="newPerson.loginname" placeholder="Garoon用户名"/>
                </div>
                <div class = "input-item">
                        <label>密码</label><input type="text" v-model="newPerson.password" placeholder="Garoon密码" v-on:focus="onFocusPw">
                </div>
                
                <br/>
                <label>上班时间:</label>
                <input class="myradio" type="radio" id = "one" v-model="newPerson.time" value ="900"><label for="one">900</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="myradio" type="radio" id = "two" v-model="newPerson.time" value="930"><label for="two">930</label><br/><br/>
                <div>
                    <button v-on:click="createPerson">保存用户信息</button>&nbsp;&nbsp;&nbsp;&nbsp;<button v-on:click="showpw">{{sp}}</button>
                </div>
                <div class="options_image"><img src="../icons/weixinqr.jpg" width="215px" ></div>
                <div class="aaa">{{msg}}</div>
            <br>
        </div>
    </div>
</body>